body{
    background-color: rgb(208, 226, 241);
};



img{
    height: 300px;
    display: grid;
    grid-column: initial;

}
.body{
    display: flex;

}
.Left{
    background-color: rgb(166, 211, 4);
    height: 100vh;
    flex: 0.25;
    border-radius: 3%;
    color: bisque;
}
.Right{
    background-color: rgb(132, 15, 248);
    height: 100vh;
    flex: 0.75%;
    overflow-y: scroll;
    color: blue;
}